@model HomeResponseModel
@{
	ViewData["Title"] = "Home Page";
	// Layout = "~/Views/Shared/_Layout.cshtml";
	// Layout = "_Layout";

	// Razor Synatx

	string message = "Hello from Razor";
}

<div class="text-center">
	<h1 class="display-4">@message</h1>
	<h1 class="display-4">@ViewBag.Message</h1>
	<h1 class="display-4">@Model.AlertMessage</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section scripts {
	<script>
		console.log("Hello from JavaScript");
	</script>
}
